-- Manually complete the pending purchases that should have been processed by webhook
SELECT complete_credit_purchase('cs_test_a1x1oE5u9PVex75s8YbgMzlJFh8HHEHGR3XKo46qT8zTqLKYEM20BdBbbg');
SELECT complete_credit_purchase('cs_test_a17gDlQLkdpyfBVHmNOpYoaD65QkdAKm2VbKYLQPvsSyr54LKIxCn31LJh');

-- Check if there are more pending purchases to complete
SELECT id, stripe_session_id, credits, status 
FROM credit_purchase 
WHERE user_id = 'd0a25789-37c7-4816-9b5a-0e7f9305da76' 
AND status = 'pending' 
AND DATE(created_at) = '2025-09-27';
